[Unit]
Description=Nebula Installer (Labwc + Kitty)
After=systemd-user-sessions.service
After=seatd.service
After=network-online.target
Wants=network-online.target
Wants=seatd.service
Conflicts=getty@tty1.service
Before=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/labwc
Environment=TERM=xterm-256color
Environment=HOME=/root
Environment=XDG_CONFIG_HOME=/root/.config
Environment=XDG_RUNTIME_DIR=/run/nebula
RuntimeDirectory=nebula
RuntimeDirectoryMode=0700
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
